ejb/src/main/java/ch/hslu/edu/enapp/webshop/postfinance/postfinance-response-ok.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ncresponse">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:short" name="orderID"/>
          <xs:attribute type="xs:long" name="PAYID"/>
          <xs:attribute type="xs:byte" name="NCSTATUS"/>
          <xs:attribute type="xs:byte" name="NCERROR"/>
          <xs:attribute type="xs:string" name="ACCEPTANCE"/>
          <xs:attribute type="xs:byte" name="STATUS"/>
          <xs:attribute type="xs:byte" name="IPCTY"/>
          <xs:attribute type="xs:string" name="CCCTY"/>
          <xs:attribute type="xs:byte" name="ECI"/>
          <xs:attribute type="xs:string" name="CVCCheck"/>
          <xs:attribute type="xs:string" name="AAVCheck"/>
          <xs:attribute type="xs:string" name="VC"/>
          <xs:attribute type="xs:byte" name="amount"/>
          <xs:attribute type="xs:string" name="currency"/>
          <xs:attribute type="xs:string" name="PM"/>
          <xs:attribute type="xs:string" name="BRAND"/>
          <xs:attribute type="xs:string" name="NCERRORPLUS"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>

